html,
body {
    font-family: 'Segoe UI', 'Segoe WP', Helvetica, Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: #efefef;
    background: rgba(245, 245, 245, 1);
}

body {
    padding: 0 0 100px;
}

hr {
    border: none;
    border-bottom: dotted 1px #ccc;
    margin: 25px 0;
}

p,
ul, 
ol {
    margin: 0.25em 0;
}

pre {
    margin: 0.5em 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 2.25em;
    margin: 0.5em 0 0.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5, h6 {
    font-size: 1em;
    font-style: italic;
}

pre, code {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 8pt;
}

pre {
    border: solid 2px #efefef;
    padding: 10px;
}

code {
    background: #efefef;
    border-radius: 4px;
    padding: 5px;
}

article p {
    line-height: 1.75em;
    text-align: justify;
}

[data-role="content"] {
    background: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1px 100px;
    width: 85%;
}

header[data-role="content"] {
    margin-top: 50px;
}

header[data-role="content"] hgroup {
    border-bottom: solid 2px #efefef;
}

header[data-role="content"] {
    padding-top: 25px;
}

footer[data-role="content"] {
    padding-bottom: 25px;
}