/*  ######################################################################################################
    OVERLAY
    ###################################################################################################### */
[data-role="overlay"] {
    background: #2d2d2d;
    background: rgba(0, 0, 0, 0.15);
    display: table-cell;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    vertical-align: middle;
    width: 100%;
    z-index: 1000;
}

[data-role="overlay"].hidden {
    background: rgba(0, 0, 0, 0);
}

/*  ######################################################################################################
    DIALOG
    ###################################################################################################### */
[data-role="dialog"] {
    background: #fff;
    display: block;
    height: 40%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width:100%;
    top: 50%;
    margin-top: -20%;
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    vertical-align:middle;
}

[data-role="dialog"] > section {
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 25px 0;
    width: 65%;
}

[data-role="dialog"].hidden {
    height: 0px;
}

/*  ######################################################################################################
    ELEMENTS
    ###################################################################################################### */
[data-role="navigation"] ul,
[data-role="navigation"] li {
    list-style: none;
}

[data-role="navigation"][data-horizontal="true"] li {
    float: left;
}

[data-role="navigation"][data-horizontal="true"] li a {
    display: inline-block;
}


/*  ######################################################################################################
    BUTTONS
    ###################################################################################################### */
[data-role="button"] {
    background: #efefef;
    color: #2d2d2d;
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px 8px;
    margin: 5px 1px;
    text-decoration: none;
    transition: all ease-in-out 1s;
}

[data-role="button"].large {
    padding: 20px 30px;
}

/* GREEN */
[data-theme="green"] [data-role="button"],
[data-role="button"][data-theme="green"] {
    background-color: #339933; 
    color: #fff;
}

[data-theme="green"] [data-role="button"]:hover,
[data-role="button"][data-theme="green"]:hover {
    color: #fff;
    background-color: #4ab64a;
}

[data-theme="green"] [data-role="button"]:active,
[data-role="button"][data-theme="green"]:active {
    color: #fff;
    background-color: #339933;
}

/* RED */
[data-theme="red"] [data-role="button"],
[data-role="button"][data-theme="red"] {
    background-color: #e51400; 
    color: #fff;
}

[data-theme="red"] [data-role="button"]:hover,
[data-role="button"][data-theme="red"]:hover {
    color: #fff;
    background-color: #fe3623;
}

[data-theme="red"] [data-role="button"]:active,
[data-role="button"][data-theme="red"]:active {
    color: #fff;
    background-color: #e51400;
}

/* ORANGE */
[data-theme="orange"] [data-role="button"],
[data-role="button"][data-theme="orange"] {
    background-color: #f09609; 
    color: #fff;
}

[data-theme="orange"] [data-role="button"]:hover,
[data-role="button"][data-theme="orange"]:hover {
    color: #fff;
    background-color: #ffaf32;
}

[data-theme="orange"] [data-role="button"]:active,
[data-role="button"][data-theme="orange"]:active {
    color: #fff;
    background-color: #f09609;
}

/* PINK */
[data-theme="pink"] [data-role="button"],
[data-role="button"][data-theme="pink"] {
    background-color: #ff0097; 
    color: #fff;
}

[data-theme="pink"] [data-role="button"]:hover,
[data-role="button"][data-theme="pink"]:hover {
    color: #fff;
    background-color: #ff65c0;
}

[data-theme="pink"] [data-role="button"]:active,
[data-role="button"][data-theme="pink"]:active {
    color: #fff;
    background-color: #ff0097;
}

/* BROWN */
[data-theme="brown"] [data-role="button"],
[data-role="button"][data-theme="brown"] {
    background-color: #996600; 
    color: #fff;
}

[data-theme="brown"] [data-role="button"]:hover,
[data-role="button"][data-theme="brown"]:hover {
    color: #fff;
    background-color: #bf8000;
}

[data-theme="brown"] [data-role="button"]:active,
[data-role="button"][data-theme="brown"]:active {
    color: #fff;
    background-color: #996600;
}

/* LIME */
[data-theme="lime"] [data-role="button"],
[data-role="button"][data-theme="lime"] {
    background-color: #8cbf26; 
    color: #fff;
}

[data-theme="lime"] [data-role="button"]:hover,
[data-role="button"][data-theme="lime"]:hover {
    color: #fff;
    background-color: #8cd200;
}

[data-theme="lime"] [data-role="button"]:active,
[data-role="button"][data-theme="lime"]:active {
    color: #fff;
    background-color: #8cbf26;
}

/* TEAL */
[data-theme="teal"] [data-role="button"],
[data-role="button"][data-theme="teal"] {
    background-color: #00aba9; 
    color: #fff;
}

[data-theme="teal"] [data-role="button"]:hover,
[data-role="button"][data-theme="teal"]:hover {
    color: #fff;
    background-color: #00d9d5;
}

[data-theme="teal"] [data-role="button"]:active,
[data-role="button"][data-theme="teal"]:active {
    color: #fff;
    background-color: #00aba9;
}

/* PURPLE */
[data-theme="purple"] [data-role="button"],
[data-role="button"][data-theme="purple"] {
    background-color: #a200ff; 
    color: #fff;
}

[data-theme="purple"] [data-role="button"]:hover,
[data-role="button"][data-theme="purple"]:hover {
    color: #fff;
    background-color: #be4cff;
}

[data-theme="purple"] [data-role="button"]:active,
[data-role="button"][data-theme="purple"]:active {
    color: #fff;
    background-color: #a200ff;
}

/* MAGENTA */
[data-theme="magenta"] [data-role="button"],
[data-role="button"][data-theme="magenta"] {
    background-color: #ff0097; 
    color: #fff;
}

[data-theme="magenta"] [data-role="button"]:hover,
[data-role="button"][data-theme="magenta"]:hover {
    color: #fff;
    background-color: #ff4db6;
}

[data-theme="magenta"] [data-role="button"]:active,
[data-role="button"][data-theme="magenta"]:active {
    color: #fff;
    background-color: #ff0097;
}

/* GOOGLE f1f1f1[primary:4787ed] */
[data-theme="google"] [data-role="button"],
[data-role="button"][data-theme="google"] {
    background-color: #f1f1f1; 
    color: #2d2d2d;
}

[data-theme="google"] [data-role="button"]:hover,
[data-role="button"][data-theme="google"]:hover {
    color: #2d2d2d;
    background-color: #d9d9d9;
}

[data-theme="google"] [data-role="button"]:active,
[data-role="button"][data-theme="google"]:active {
    color: #2d2d2d;
    background-color: #f1f1f1;
}

[data-theme="google"] [data-role="button"].primary,
[data-role="button"][data-theme="google"].primary {
    background-color: #4787ed; 
    color: #fff;
}

[data-theme="google"] [data-role="button"].primary:hover,
[data-role="button"][data-theme="google"].primary:hover {
    color: #fff;
    background-color: #4c91ff;
}

[data-theme="google"] [data-role="button"].primary:active,
[data-role="button"][data-theme="google"].primary:active {
    color: #fff;
    background-color: #4787ed;
}

/* FACEBOOK: 3b5998 */
[data-theme="facebook"] [data-role="button"],
[data-role="button"][data-theme="facebook"] {
    background-color: #3b5998; 
    color: #fff;
}

[data-theme="facebook"] [data-role="button"]:hover,
[data-role="button"][data-theme="facebook"]:hover {
    color: #fff;
    background-color: #4668b3;
}

[data-theme="facebook"] [data-role="button"]:active,
[data-role="button"][data-theme="facebook"]:active {
    color: #fff;
    background-color: #3b5998;
}

i[data-icon] {
    background-image: url('images/metro-black.png');
    background-repeat: no-repeat; 
    display: inline-block;
    height: 22px;
    width: 25px;
    padding: 0;
    margin: 1px 0 0;
    vertical-align: text-top;
}

[data-role="button"] [data-icon],
i[data-icon].white {
    background-image: url('images/metro-white.png');

}

[data-icon="add"] { background-position: 0px -549px; }
[data-icon="add-to-favs"] { background-position: 0px -639px; }
[data-icon="back"] { background-position: 0px -129px; }
[data-icon="camera"] { background-position: 0px -999px; }
[data-icon="cancel"] { background-position: 0px -279px; }
[data-icon="check"],	
[data-icon="checkmark"] { background-position: 0px -309px; }
[data-icon="comment"] { background-position: 1px -1059px; }
[data-icon="delete"] { background-position: 0px -399px; }
[data-icon="down"] { background-position: 0px -189px; }
[data-icon="download"] { background-position: 0px -219px; }
[data-icon="edit"] { background-position: 0px -369px; }
[data-icon="fast-forward"] { background-position: 0px -819px; }
[data-icon="favs"],
[data-icon="favorites"] { background-position: 0px -609px; }
[data-icon="flag"] { background-position: 0px -1089px; }
[data-icon="folder"] { background-position: 0px -429px; }
[data-icon="heart"] { background-position: 0px -669px; }
[data-icon="info"] { background-position: 0px -459px; }
[data-icon="mail"] { background-position: 0px -939px; }
[data-icon="minus"] { background-position: 0px -519px; }
[data-icon="next"] { background-position: 0px -99px; }
[data-icon="overflow"] { background-position: 0px -39px; }
[data-icon="pause"] { background-position: 0px -789px; }
[data-icon="parent"] { background-position: 0px -69px; }
[data-icon="phone"] { background-position: 0px -909px; }
[data-icon="play"] { background-position: 0px -759px; }
[data-icon="previous"] { background-position: 1px -129px; }
[data-icon="question"],
[data-icon="question-mark"] { background-position: 0px -489px; }
[data-icon="refresh"] { background-position: 0px -579px; }
[data-icon="rewind"] { background-position: 0px -849px; }
[data-icon="save"] { background-position: 0px -339px; }
[data-icon="search"] { background-position: 0px -699px; }
[data-icon="settings"] { background-position: 0px -879px; }
[data-icon="share"] { background-position: 0px -729px; }
[data-icon="twitter"] { background-position: 1px -1119px; }
[data-icon="up"] { background-position: 0px -159px; }
[data-icon="upload"] { background-position: 0px -249px; }
[data-icon="video"] { background-position: 0px -969px; }
[data-icon="windows"] { background-position: 0px -1029px; }

/*  ######################################################################################################
    COLUMNS
    ###################################################################################################### */
[data-columns] {
    columns: auto auto;
}

/*  ######################################################################################################
    HELPER CLASSES
    ###################################################################################################### */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clear {
    clear: both;
}

.clearfix:after {
     content: ".";
     clear: both;
     height: 0;
     visibility: hidden;
     display: block;
}