[data-role="overlay"] {
    background: #2d2d2d;
    background: rgba(0, 0, 0, 0.15);
    display: table-cell;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    vertical-align: middle;
    width: 100%;
    z-index: 1000;
}

[data-role="overlay"].hidden {
    background: rgba(0, 0, 0, 0);
}

[data-role="dialog"] {
    background: #fff;
    display: table;
    height: 33%;
    max-height: 50%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width:100%;
    top: 10%;
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    vertical-align:middle;
}

[data-role="dialog"] > section {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
}

[data-role="dialog"].hidden {
    height: 0%;
}

/* BUTTONS */
[data-role="button"] {
    background: #efefef;
    color: #2d2d2d;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

[data-role="button"].large {
    padding: 15px 25px;
}

/* HELPER CLASSES */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.pull-right:after,
.pull-left:after,
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.pull-right,
.pull-left,
.clearfix {
	display: inline-block;
}
 
html[xmlns] .pull-right,
html[xmlns] .pull-left,
html[xmlns] .clearfix {
	display: block;
}
 
* html .pull-right,
* html .pull-left,
* html .clearfix {
	height: 1%;
}
