* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Segoe WP', Helvetica, Arial, Tahoma, sans-serif;
    font-size: 16px;
}

html,
body {
    color: #5d5d5d;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: normal;
    font-size: 2.75em;
    font-family: 'Segoe UI Light', 'Segoe WP Semilight', 'Segoe UI', 'Segoe WP', Helvetica, Arial, Tahoma, sans-serif;
    margin: 0 0 0.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5, h6 {
    font-size: 1em;
    font-style: italic;
}

a {
    color: #1ba1e2;
    text-decoration: none;
}

a:hover {
    color: #2d2d2d;
}

a img {
    border: 0;
}

/*  ######################################################################################################
    OVERLAY
    ###################################################################################################### */
[data-role="overlay"] {
    background: #2d2d2d;
    background: rgba(0, 0, 0, 0.15);
    display: table-cell;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    vertical-align: middle;
    width: 100%;
    z-index: 1000;
}

[data-role="overlay"].hidden {
    background: rgba(0, 0, 0, 0);
}

/*  ######################################################################################################
    DIALOG
    ###################################################################################################### */
[data-role="dialog"] {
    background: #fff;
    display: block;
    height: 0;
    margin: 0;
    margin-top: 0px;
    overflow: hidden;
    padding: 0px;
    position: fixed;
    width:100%;
    top: 50%;
    
    /*transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;*/

    vertical-align:middle;
}

[data-role="dialog"] > section {
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 25px 0;
    width: 65%;
}

[data-role="dialog"].hidden {
    height: 0px;
}

/*  ######################################################################################################
    ELEMENTS
    ###################################################################################################### */
[data-role="navigation"] {
    display: table;
    background: #1ba1e2;
}

[data-role="navigation"].light {
    background: #fff;
    border: solid 1px #1ba1e2;
}

[data-role="navigation"].full-width {
    width: 100%;
}

[data-role="navigation"] ul,
[data-role="navigation"] li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

[data-role="navigation"] > ul > li a {
    color: #fff;
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
}

[data-role="navigation"].light > ul > li a {
    color: #1ba1e2;
}

[data-role="navigation"] > ul > li:hover > a,
[data-role="navigation"] > ul > li.active > a,
[data-role="navigation"] > ul > li > a:hover,
[data-role="navigation"] > ul > li:hover ul {
    background: #1fb4ff;
    color: #fff;
}

[data-role="navigation"].light > ul > li:hover > a,
[data-role="navigation"].light > ul > li.active > a,
[data-role="navigation"].light > ul > li > a:hover,
[data-role="navigation"].light > ul > li:hover ul {
    color: #1fb4ff;
    background: #fff;
}

[data-role="navigation"] ul ul {
    display: none;
    left: 100%;
    min-width: 150px;
    position: absolute;
    top: 0px;
}

[data-role="navigation"] li:hover ul {
    display: block;
}

[data-role="navigation"] ul ul a:hover {
    text-decoration: underline;
}

[data-role="navigation"][data-horizontal] > ul > li {
    float: left;
}

[data-role="navigation"][data-horizontal="true"] ul ul {
    left: 0px;
    top: 100%;
}

/* TABLES */
table[data-role="data-table"] {
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

table[data-role="data-table"] thead,
table[data-role="data-table"] th {
    background-color: #2d2d2d;
    color: #fff;
    font-weight: normal;
    text-align: left;
}

table[data-role="data-table"] td,
table[data-role="data-table"] th {
    padding: 5px;
}

table[data-role="data-table"] td {
    font-size: 0.9em;
    vertical-align: top;
}

table[data-role="data-table"] tbody tr:nth-child(even) {
    background-color: #f2fbff;
}

table[data-role="data-table"] tbody tr:hover {
    background-color: #e5f7ff;
}

table[data-role="data-table"] p {
    margin: 0;
}

/*  ######################################################################################################
    FORM ELEMENTS
    ###################################################################################################### */

.editor-label,
.display-label {
    margin: 15px 0 5px;
}

.editor-field,
.display-field {
    margin: 5px 0 15px;
}

[data-role="button"],
input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]),
[data-icon] {
    display: inline-block;
}

[data-role="button"],
input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 23px;
    max-height: 33px;
}

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
    background: #fff;
    border: solid 1px #ccc;
}

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):hover,
textarea:hover {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

textarea {
    width: 100%;
    min-height: 50px;
}

[data-role="button"] {
    background: #1ba1e2;
    border: solid 1px #1ba1e2;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: background-color ease-in-out 0.5s;
    -moz-transition: background-color ease-in-out 0.5s;
    transition: background-color ease-in-out 0.5s;
}

[data-role="button"]:hover {
    background: #1fb4ff;
    color: #fff;
}

[data-role="button"]:active {
    background: #1ba1e2;
}

/* SECONDARY */
[data-role="button"].secondary { background: #339933; border: solid 1px #339933; color: #fff; }
[data-role="button"].secondary:hover { background: #4ab64a; color: #fff; }
[data-role="button"].secondary:active { background: #339933; }

/* TERTIARY */
[data-role="button"].tertiary { background: #e51400; border: solid 1px #e51400; color: #fff; }
[data-role="button"].tertiary:hover { background: #fe3623; color: #fff; }
[data-role="button"].tertiary:active { background: #e51400; }

/* QUATERNARY */
[data-role="button"].quaternary { background: #ff0097; border: solid 1px #ff0097; color: #fff; }
[data-role="button"].quaternary:hover { background: #ff65c0; color: #fff; }
[data-role="button"].quaternary:active { background: #ff0097; }

/* TERTIARY */
[data-role="button"].quinary { background: #a200ff; border: solid 1px #a200ff; color: #fff; }
[data-role="button"].quinary:hover { background: #be4cff; color: #fff; }
[data-role="button"].quinary:active { background: #a200ff; }

[data-role="button"].large {
    padding: 18px 30px 22px;
    max-height: none;
}

i[data-icon] {
    background-image: url('images/metro-black.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 25px;
    padding: 0;
    margin: 0;
    vertical-align: text-top;
}

i[data-icon].lonely {
    width: 20px;
}

[data-role="button"] [data-icon],
[data-role="navigation"] [data-icon],
i[data-icon].white {
    background-image: url('images/metro-white.png');
}

[data-icon="add"] { background-position: 0px -340px; }
[data-icon="add-to-favs"] { background-position: 0px -400px; }
[data-icon="back"] { background-position: 0px -80px; }
[data-icon="camera"] { background-position: 0px -620px; }
[data-icon="cancel"] { background-position: 0px -180px; }
[data-icon="check"],	
[data-icon="checkmark"] { background-position: 0px -200px; }
[data-icon="comment"] { background-position: 1px -680px; }
[data-icon="delete"] { background-position: 0px -260px; }
[data-icon="down"] { background-position: 0px -120px; }
[data-icon="download"] { background-position: 0px -140px; }
[data-icon="edit"] { background-position: 0px -240px; }
[data-icon="fast-forward"] { background-position: 0px -520px; }
[data-icon="favs"],
[data-icon="favorites"] { background-position: 0px -380px; }
[data-icon="flag"] { background-position: 0px -720px; }
[data-icon="folder"] { background-position: 0px -280px; }
[data-icon="heart"] { background-position: 0px -420px; }
[data-icon="info"] { background-position: 0px -680px; }
[data-icon="mail"] { background-position: 0px -600px; }
[data-icon="marker"] { background-position: 0px -780px; }
[data-icon="minus"] { background-position: 0px -320px; }
[data-icon="next"] { background-position: 0px -60px; }
[data-icon="overflow"] { background-position: 0px -20px; }
[data-icon="pause"] { background-position: 0px -500px; }
[data-icon="parent"] { background-position: 0px -40px; }
[data-icon="phone"] { background-position: 0px -580px; }
[data-icon="play"] { background-position: 0px -480px; }
[data-icon="previous"] { background-position: 0px -80px; }
[data-icon="question"],
[data-icon="question-mark"] { background-position: 0px -300px; }
[data-icon="refresh"] { background-position: 0px -360px; }
[data-icon="rewind"] { background-position: 0px -540px; }
[data-icon="save"] { background-position: 0px -220px; }
[data-icon="search"] { background-position: 0px -440px; }
[data-icon="settings"] { background-position: 0px -560px; }
[data-icon="share"] { background-position: 0px -760px; }
[data-icon="twitter"] { background-position: 1px -740px; }
[data-icon="up"] { background-position: 0px -100px; }
[data-icon="upload"] { background-position: 0px -160px; }
[data-icon="video"] { background-position: 0px -620px; }
[data-icon="windows"] { background-position: 0px -640px; }

[data-contain] {
    border: solid 1px #666;
    padding: 0;
    margin: 5px 0;
    display: inline-block;
}

[data-contain] > * {
    margin: 0;
    border: 0 !important;
    display: block;
    float: left;
}

/*  ######################################################################################################
    COLUMNS
    ###################################################################################################### */
[data-columns] {
    columns: auto auto;
}

.fluid2,
.fluid3,
.fluid5,
.fluid7,
.fluid8 {
    float: left;
}

.fluid2 {
    width: 20%;
}

.fluid3 {
    width: 30%;
}

.fluid5 {
    width: 50%;
}

.fluid7 {
    width: 70%;
}

.fluid8 {
    width: 80%;
}

.span2,
.span3,
.span4,
.span5 {
    float: left;
}

.span2 {
    width: 50%;
}

.span2:nth-child(2n+3) {
    clear: left;
}

.span3 {
    width: 33%;
}

.span3:nth-child(3n+4) {
    clear: left;
}

.span4 {
    width: 25%;
}

.span4:nth-child(4n + 5) {
    clear: left;
}

.span5 {
    width: 20%;
}

.span5:nth-child(5n + 6) {
    clear: left;
}

/*  ######################################################################################################
    HELPER CLASSES
    ###################################################################################################### */
.fixed {
    position: fixed;
    top: 10px;
    float: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.no-margin {
    margin: 0;
}

.clear {
    clear: both;
}

.clearfix:after { 
 content: ".";  
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden; 
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac */
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */

.error-message {
    background: #ffeeee;
    border: solid 1px #f00;
    
    padding: 20px;
    margin: 10px 0px;
}

.success-message {
	background: #eeffee;
	border: solid 1px #0f0;
					
	padding: 20px;
	margin: 10px 0px;
}

.warning-message {
	background: #ffffee;
	border: solid 1px #ff0;
	
	padding: 20px;
	margin: 10px 0px;
}


/*  ######################################################################################################
    RESPONSIVENESS
    ###################################################################################################### */
@media all and (max-height: 600px) {
    [data-role="dialog"] {
        height: 50%;       
        margin-top: 0px;
        top: 0%;
    }
}

@media all and (max-height: 400px) {
    [data-role="dialog"] {
        height: 100%;       
        margin-top: 0px;
        top: 0%;
    }
}